name: ci-cd
on:
  push:
    paths-ignore:
      - "README.md"
      - "CONTRIBUTING.md"
      - "CHANGELOG.md"
      - "LICENSE"
      - ".gitignore"
jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    env:
      LEIN_ROOT: "true"
      CLOJARS_USERNAME: ${{ secrets.CLOJARS_USERNAME }}
      CLOJARS_PASSWORD: ${{ secrets.CLOJARS_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install Clojure Tools
        uses: DeLaGuardo/setup-clojure@13.5.2
        with:
          lein: 2.12.0

      - name: Install clj-kondo
        uses: DeLaGuardo/setup-clj-kondo@master
        with:
          version: '2026.01.19'

      - name: Check formatting
        run: lein cljfmt check

      - name: Lint
        run: clj-kondo --lint src && lein eastwood

      - name: Deploy Jar to Clojars
        if: contains(github.ref, 'refs/tags/')
        run: lein deploy
